.App {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

main {
  display: grid;
  text-align: center;
  justify-content: center;

  margin: 20px;
  padding: 20px;

  border: 5px solid white;
  z-index: 1;

  gap: 0;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
}

video {
  object-fit: cover;
}

.nameTitle {
  font-family: FleurDeLeah;
  font-size: 60px;
  color: white;

  margin: 0;
  padding: 0;
}

.subTitle {
  font-family: DongleRegular;
  font-size: 20px;
  color: white;
  opacity: 0.7;

  margin: 0;
  padding: 0;
}

.age {
  font-family: FleurDeLeah;
  font-size: 45px;
  color: white;

  margin: 0;
  padding: 0;
}

.dataInfos {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  gap: 15px;
}

.verticalBar {
  height: 75%;
  width: 0;
  border-right: 3px solid white;
  border-radius: 10px;

  margin: 0;
  padding: 0;
}

.dataText {
  color: white;

  margin: 0;
  padding: 0;
}

.lastText {
  font-family: DrSugiyama;
  font-size: 28px;
  color: white;

  margin: 0;
  padding: 0;
}

.botao {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 10px;
  gap: 5px;

  cursor: default;
}

.botao:hover {
  background: #333;
  cursor: pointer;
}

.snowContainer {
  display: flex;
  position: absolute;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}