body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: FleurDeLeah;
  src: url('./assets/fonts/FleurDeLeah-Regular.ttf');
}
@font-face {
  font-family: DrSugiyama;
  src: url('./assets/fonts/DrSugiyama-Regular.ttf');
}
@font-face {
  font-family: DongleBold;
  src: url('./assets/fonts/Dongle-Bold.ttf');
}
@font-face {
  font-family: DongleLight;
  src: url('./assets/fonts/Dongle-Light.ttf');
}
@font-face {
  font-family: DongleRegular;
  src: url('./assets/fonts/Dongle-Regular.ttf');
}